@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
	scrollbar-color: #4f4 #0000;
}

::-webkit-scrollbar {
	background-color: #0000;
	height: default;
	width: default;
}
::-webkit-scrollbar-thumb {
	background-color: #4f4;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #8f8;
}
::-webkit-scrollbar-thumb:active {
	background-color: #f80;
}

::selection {
	background-color: var(--special);
	color: var(--fill);
}

:root {
	--active: #f80;
	--fill: #000;
	--link: #0ff;
	--special: #4f4;
	--visited: #f0f;
	--text: #fff;

	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 125%;
	line-height: 1.25;
	overflow-y: scroll;
}

a:link {
	color: var(--link);
}
a:visited {
	color: var(--visited);
}
a:link:focus, a:link:hover {
	background-color: var(--link);
	border-radius: 0.125em;
	color: var(--fill);
	text-decoration: none;
}
a:visited:focus, a:visited:hover {
	background-color: var(--visited);
	border-radius: 0.125em;
	color: var(--fill);
	text-decoration: none;
}
a:link:active, a:visited:active {
	background-color: var(--active);
}

body {
	background-color: var(--fill);
	color: var(--text);
	margin: auto;
	max-width: 180mm;
}

nav {
	--visited: var(--link);

	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
}

/* Utility Classes */

.RESET {
	all: unset;
}

.CENTER {
	text-align: center;
}
.JUSTIFY {
	text-align: justify;
}
.LEFT {
	text-align: left;
}
.RIGHT {
	text-align: right;
}

.BOLD {
	font-weight: bold;
}
.ITALIC {
	font-style: italic;
}

.DEFAULTCURSOR {
	cursor: default;
}

.H {
	line-height: 0;
	margin: 2rem 0;
}
.H1 {
	font-size: 2em;
}
.H2 {
	font-size: 1.5em;
}
.H3 {
	font-size: 1.17em;
}
.H4 {
	font-size: 1em;
}
.H5 {
	font-size: 0.83em;
}
.H6 {
	font-size: 0.67em;
}

/* Style Classes */

.bordered, .sheet {
	border: 1px solid var(--text);
}
.color, .sheet {
	background-color: var(--fill);
	color: var(--text);
}
.padded, .sheet {
	padding: 0.5em 1em;
}
.spaced, .sheet {
	margin: 0.5em 0;
}

.paper, .sheet {
	--active: #b40;
	--fill: #fff;
	--link: #055;
	--special: #1a1;
	--visited: #808;
	--text: #000;
}
.void {
	--active: #f80;
	--fill: #000;
	--link: #0ff;
	--special: #4f4;
	--visited: #f0f;
	--text: #fff;
}

@media print {
	:root, .void {
		--active: #b40;
		--fill: #fff;
		--link: #055;
		--special: #1a1;
		--visited: #808;
		--text: #000;
	}

	body {
		background-image: none;
	}

	.void {
		--fill: #eee;
	}
}
