@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* Super Swag Browser Stuff */

* {
	scrollbar-color: #4f4 #0000;
}

::-webkit-scrollbar {
	background-color: #0000;
	height: default;
	width: default;
}
::-webkit-scrollbar-thumb {
	background-color: #4f4;
}
::-webkit-scrollbar-thumb:hover {
	background-color: #8f8;
}
::-webkit-scrollbar-thumb:active {
	background-color: #f80;
}

::selection {
	background-color: var(--special);
	color: var(--fill);
}

/* Generic Elements */

html {
	/* Global Variables */
	--active: #fa4;
	--dim: #666;
	--fill: #000;
	--link: #4ff;
	--special: #6f6;
	--visited: #f4f;
	--text: #f0f0f0;

	font-family: 'Atkinson Hyperlegible', sans-serif;
	font-size: 125%;
	line-height: 1.25;
	overflow-y: scroll;
	padding: 1em;
}

body {
	background-attachment: fixed;
	background-color: var(--fill);
	background-image: url("/assets/background/stars.svg");
	background-position: center;
	background-size: 100vmin 100vmin;

	color: var(--text);
	margin: 1em auto;
	max-width: 180mm;
}

a:link {
	color: var(--link);
}
a:link:focus, a:link:hover {
	background-color: var(--link);
	border-radius: 0.125em;
	color: var(--fill);
}
a:visited {
	color: var(--visited);
}
a:visited:focus, a:visited:hover {
	background-color: var(--visited);
	border-radius: 0.125em;
	color: var(--fill);
}
a:link:active, a:visited:active {
	background-color: var(--active);
	border-radius: 0.125em;
	color: var(--fill);
}

/* Usual Elements */

h1.usual {
	font-size: 0;
}

nav.usual {
	--link: var(--special);
	--visited: var(--special);

	cursor: default;
	display: flex;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-evenly;
	line-height: 1;
	margin-bottom: 1em;
}
nav.usual::before {
	content: "blaineworld's void";

	font-size: 2em;
	font-weight: bold;
	text-align: center;
	width: 100%;
}

p.usual {
	text-indent: 2em;
}

/* Specific Classes */

.badge {
	display: inline-block;
	height: 0.75em;
	vertical-align: baseline;
}

.chara {
	display: inline-block;
	height: 1.125em;
	vertical-align: middle;
}

.dialog {
	background-color: var(--fill);
	border: 0.125em solid var(--dim);
	border-radius: 0.5em;
	margin: 1em 0;
	padding: 0.375em;
}

.void {
	background-color: var(--fill);
	box-shadow: 0 0 0.1em 0.15em var(--fill);
	margin: 1em 0;
}

/* General Classes */

.center {
	text-align: center;
}

.dense {
	line-height: 1;
}

.smallish {
	font-size: 0.8em;
}

.unbreaking {
	page-break-inside: avoid;
}

/* Print Stuff */

@media print {
	:root {
		--active: #805511;
		--dim: #888;
		--fill: #fff;
		--link: #118080;
		--special: #228022;
		--visited: #801180;
		--text: #000;
	}

	body {
		background-image: none;
	}

	.unprinted {
		display: none;
	}
}
